<div class="container">
    <h1 class="text-center">My Friends</h1>
    <hr class="my-4">
    <div class="row">

        <% if !@friends.empty? %>
            <div class="col-6">
                <%= render 'friends/list' %>
            </div>
        <% end %>

        <div class="col-<%= !@friends.empty? ? '6' : '12' %>">
            <h5 class="text-center">Search Friends</h5>
    
            <%= form_tag search_friend_path, remote: true, method: :get do %>
                <div class="input-group mb-3">

                    <%= text_field_tag :friend, params[:friend], placeholder: 'Name or Email', autofocus: true, class: "form-control" %>
                    <div class="input-group-append">
                        <%= button_tag type: :submit, class: "btn btn-outline-secondary" do%>
                            <%= fa_icon "search" %>
                        <% end %>
                    </div>
                </div>
            <% end %>

            <div id="friend-search-result">
                
            </div>
        </div>

    </div>
</div>