<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Profile <% if current_user.not_friends_with?(@user) && current_user.id != @user.id %>
                    <%= link_to friendships_path(friend: @user), method: :post do %>
                        <%= fa_icon 'user-plus', class: 'pull-right' %>
                    <% end %>
                  <% end %>
      </h3>

      <p><b>Email: </b><%= @user.email %></p>
      <p class="m-0"><b>Name: </b><%= @user.full_name %></p>
    </div>

    <div class="col-8">
      <h3>Stocks</h3>
      <%= render 'stocks/list' %>
    </div>
  </div>
</div>

